@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

h1, h2, h3, h4, h5, h6 {font-family: "Roboto Condensed",sans-serif; font-weight: 700; text-transform: uppercase;}

/** accessibility-links & shortcuts **/
#accessibility-links{}
#accessibility-links ul, #accessibility-shortcuts ul{overflow: hidden; height: auto; width: auto; margin: 0; padding:0;}
#accessibility-links ul li, #accessibility-shortcuts ul li{margin: 0; padding: 0; list-style: none;}
#accessibility-links ul li a, #accessibility-shortcuts ul li a{display: block; padding: 0 20px;}
#accessibility-links ul li a, #accessibility-shortcuts ul li a{font-size: 0;}
#accessibility-links ul li.access-focus a, #accessibility-shortcuts ul li.access-focus a{font-size: inherit;}

#a11y-modal {padding-top:50px;}
#acc-widget {min-width:inherit;}
#acc-widget i {margin:0; padding:0;}
button#acc-button {padding:0 1rem;}

/** top-bar - off canvas **/
#search-canvas{padding:1rem 0.5rem 0 0.5rem;}
#main-nav {background: #f7f7f7; height:58px;}
#me2{padding:0 5px;}
#govph h1{font-size:1.1875rem; padding:0; margin:0; font-weight:normal;}
#govph a{padding-right:1rem;}
.is-submenu-parent-item{font-weight: bold; border-bottom:solid .025rem #ccc;}
.title-bar{background-color: #f7f7f7; color:#000; border-bottom:solid 1px #e9e9e9; padding:10px 0 10px 10px;}
.title-bar-title{font-size:1.1875rem; color:#000; margin:0; font-weight:normal;}
.menu-icon:after{background:#000; box-shadow: 0 7px 0 #000, 0 14px 0 #000;}
.is-drilldown ul li{font-size:1.125rem;}
.is-drilldown ul li a, .is-drilldown ul li span{color:#505050;}
.is-drilldown ul li a:hover, .is-drilldown ul li span:hover{font-weight: bold;}
.is-drilldown-submenu-item a, .is-drilldown-submenu-item span{font-size:0.9375rem; color:#606060;}
.off-canvas{background:#f7f7f7}
#offCanvasRight .is-drilldown {max-width: 250px !important; height:96%;}
#offCanvasRight{height:100%;}
#amenu h6{margin:0; padding:0.7rem 1rem; border-top:solid 1px #ddd; color:#ccc;}

/** top bar sticky **/
.sticky{width:100%; background:#f7f7f7;}
.sticky, .nav-child, #auxiliary{background: #f7f7f7; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px; z-index: 20 !important;}
.top-bar, .top-bar ul, #auxiliary{background: #f7f7f7; padding:0;}
#gwt-menu a, #auxiliary a{color:#333;}
#gwt-menu li, #auxiliary ul li{height:58px;}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after{border-color: #333 transparent transparent;}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after{border-color:transparent transparent transparent #333;}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after{border-color: transparent #333 transparent transparent;}
.is-drilldown-submenu-parent > a::after{border-color:transparent transparent transparent #505050;}
.js-drilldown-back > a::before{border-color:transparent #505050;}
#gwt-menu li.gmenu, #auxiliary li.is-submenu-item{height:40px !important;}
.top-bar ul li.gmenu:hover, .top-bar ul li.active, #auxiliary ul li.gmenu:hover, ul#acc-widget li:hover, #auxiliary ul li.active, .is-drilldown li.active a, .is-drilldown li.active span{background:#e4e4e4; color:#333;}
.top-bar .active a, #auxiliary .active a{background:none !important; color:#333 !important;}
.top-bar-left ul li.gmenu, #tb_search, #govph{border-right:0.0625rem solid #ebebeb;}
.top-bar-right ul li.gmenu, #tb_search{border-left:0.0625rem solid #ebebeb;}
#gwt-menu li.gmenu, #auxiliary li.gmenu{font-size: 0.85rem;}
#gwt-menu li.gmenu span, #auxiliary li.gmenu span{font-weight: bold;}
.sticky, #auxiliary{border-bottom:0.0625rem solid #ebebeb;}
.top-bar-right 
.top-bar input{margin:0;}
.top-bar .search{padding-left:1rem;}
.menu > li > span {display: block; padding: 0.7rem 1rem; line-height: 1;}

/*** masthead text logo ***/
#masthead {background:#fff; border-bottom: 1px solid #f2f2f2; padding: 1.25rem 0; overflow:hidden;}
#masthead #logo h1 {margin:0; padding:0;}
#masthead #logo p {padding:0;}
#aname{border-top: 1px solid #000; line-height: 1; font-size: 3rem !important; font-weight: 900;
	margin:0; padding:0;}
#headerlist li{display:inline-block;	vertical-align: middle;}
#headerlistname{display:table;	vertical-align: middle;}
#headerlistname li{	display:block;}
#logoheader ul, #logoheader ul li{margin:0;}

/** banner **/
.orbit-container{height:auto !important;}
.orbit-caption p{margin-bottom:0; font-size:0.85rem;}
.orbit-bullets button{width:1rem; height:1rem;}
.orbit-button-controls{ position:absolute; top:0; right:0; z-index:10; color:#fff; text-shadow:1px 1px 3px #000; height:auto !important; padding:10px 20px;}
#orbit_cnt{position:absolute; top:1%; left:2%; z-index:10; color:#fff; font-size:0.8rem; text-shadow:1px 1px 3px #000;}
#banner {background: #fcfcfc; border-bottom: 1px solid #f2f2f2; padding: 1.25rem 0;}
#banner .bg-banner {background: #f2f2f2; border: 1px solid #d8d8d8;}
#banner #featured01 {padding: 1.25rem;}
#featured01 h3, #featured01 h4, #featured01 p {color: #666;}
#banner .bg-banner {border: none; background: none;}
#fullbanner img, #fullbanner ul, #fullbanner ul li{width:100%; height:100%;}
#fullbanner .orbit-bullets{display:none;}

/** breadcrumbs **/
.breadcrumbs{display: block; padding: 0.5625rem 0.875rem 0.5625rem; overflow: hidden; margin-left: 0; list-style: none; border-style: solid; border-width: 1px; background-color: whitesmoke; border-color: #dddddd; border-radius: 3px; margin-top: 1rem;}
.breadcrumbs li:first-child::after { margin-right: 0px;}
.breadcrumbs li:not(:last-child)::after { margin:1px; }
.breadcrumbs li{ margin-right:3px;}

/** content **/
.print-icon, .email-icon{float:left; margin-right: 40px;}
.print-icon, .email-icon, .edit-icon {font-size: .875rem; font-weight:bold; text-transform: uppercase;}
.print-icon, .email-icon, .edit-icon {list-style: none;}
.p-icons{margin:0; padding:0;}

.article-info, .tags, .post-box p {clear: left;}
.article-info-term {display: none;}
dd {display: inline-block; padding-right: 12px; font-size: 0.75rem; color: #999; }
.createdby, .category-name, .published, .create, .modified, .hits {margin: 0;}
.tags .label {background: #fcfcfc; border: 1px solid #F2F2F2; color: #258FAF; padding: 10px;}
.tags {padding: 10px 0 20px;}
.readmore {font-size: 0.875rem; font-weight: bold;}
p.counter {display: none;}
.pagination {float: none; text-align: center; text-transform: uppercase;}
.pagination ul {display: inherit; text-align: center;}
.pagination ul li {display: inline; margin: 0 5px;}
.pagination a, .pagination span {float: none; display: inline-block; font-size: 0.75rem; font-weight: bold;}
.pagination li span.pagenav{padding: 0.1875rem 0.625rem; background: #2199e8; color: #fefefe;}
.pagination li.pagination-start span, .pagination li.pagination-end span, 
.pagination li.pagination-prev span, .pagination li.pagination-next span{background:none; color:#ccc;}
ul.pager li, ul.pagenav li {display: inline; margin: 0 5px;}
ul.pager, ul.pagenav {float: none; text-align: center; text-transform: uppercase; font-size: 0.75rem; font-weight: bold;}
#main-content, .sidebar-module{padding:1rem 0;}

/* newsflash */
h4.newsflash-title {border-top: 1px solid #ddd; padding-top: 5px;}

/* login form, edit */
#login-form {border: 1px solid #D8D8D8; padding: 15px; background: #F2F2F2;}
#login-form li {font-size: 0.875rem;}
#login-form .btn {padding: .75rem 1.5rem .75rem;}
#jform_publish_up_img, #jform_publish_down_img {display: none;}
#editor-xtd-buttons {padding: 10px 0; float: left;}
#editor-xtd-buttons a {font-weight: bold; margin-right: 15px;}
.toggle-editor .btn-group {font-weight: bold; float: right; padding: 10px 0;}

/** Back to Top **/
#back-to-top {position: fixed; bottom: 2em; right: 0px; text-decoration: none; color: #ffffff; background-color: #111111; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-size: 0.75rem; padding: 1em; display: none; z-index:101; opacity:0.6;}
#back-to-top:hover {opacity:1;}


/** @media **/
@media screen and (min-width: 64em){
	.moduletable p {font-size: 16px !important;}
	.moduletable h1 {font-size: 2.75rem !important;}
	.moduletable h2 {font-size: 2.3125rem !important;}
	.moduletable h3 {font-size: 1.6875rem !important;}
	.moduletable h4 {font-size: 1.4375rem !important;}
	.moduletable h5 {font-size: 1.125rem !important;}
	.moduletable h6 {font-size: 1rem !important;}
}

@media only screen and (max-width: 40em) {
#headerlist { text-align: center; }
}

/** temporary fix for vanishing menu & contacts' popupover **/
ul.dropdown.menu{display:block !important;}
div.popover{display:none !important;}