@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

/*typography*/
h1, h2, h3, h4, h5, h6 {font-family: "Roboto",Helvetica, Arial, sans-serif; font-weight: 700; text-transform: uppercase;}

h1{
	font-size: 43px !important;
}
h2{
	font-size: 23px !important;
}
h3{
	font-size: 20px !important;
}
h4{
	font-size: 18px !important;
}
h5{
	font-size: 13px !important;
}
h6{
	font-size: 10px !important;
}

/*top bar*/
#main-nav {background: #f7f7f7;}

/*masthead*/
#masthead {background:#fff; border-bottom: 1px solid #f2f2f2; padding: 1.25rem 0;}
#masthead #logo h1 {margin:0; padding:0;}
/* #masthead #logo p {margin:0; padding:0;} */
#masthead #logo p {padding:0;}
 
/*banner*/
#banner {background: #fcfcfc; border-bottom: 1px solid #f2f2f2; padding: 1.25rem 0;}
#banner .bg-banner {background: #f2f2f2; border: 1px solid #d8d8d8;}

/*banner 3/4 right panel*/
#banner #featured01 {padding: 1.25rem;}
#featured01 h3, #featured01 h4, #featured01 p {color: #666;}

/*main*/
#main {padding: 1.25rem 0;}


/** accessibility-links & shortcuts **/
#accessibility-links{
}

#accessibility-links ul, #accessibility-shortcuts ul{
	overflow: hidden;
	height: auto;
	width: auto;
	margin: 0;
	padding:0;
}

#accessibility-links ul li, #accessibility-shortcuts ul li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#accessibility-links ul li a, #accessibility-shortcuts ul li a{
	display: block;
	padding: 0 20px;
}

#accessibility-links ul li a, #accessibility-shortcuts ul li a{
	font-size: 0;
}

#accessibility-links ul li.access-focus a, #accessibility-shortcuts ul li.access-focus a{
	font-size: inherit;
}


/** Accessibility Widget **/
#accessibility-widget {
    float:right;
    position:fixed;
    top: 50%;
    z-index: 200;
    right: -42px;
    margin-top: -42px;
}
#accessibility-widget ul {
    list-style: none;
    margin:0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#accessibility-widget ul li {
    text-align: center;
    display: block;
}
#accessibility-widget ul li a {
    display: block;
    color: #000;
    background: #e2e2e2;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #d2d2d2;
    padding: 5px;
}
#accessibility-widget ul li a span {
    display: block;
    text-indent: -9999px;
    background: url(images/accessibility-sprites.png) no-repeat;
    height: 24px;
    width: 24px;
    margin: 4px;
}
#accessibility-widget ul li #accessibility-mode {
    position: fixed;
    right: -10px;
    border-radius: 3px 0 0 0;
    margin-top: -43px;
    background: #ff7c7c;
    border-bottom: 0;
    opacity: 0.8;
}
#accessibility-widget ul li #accessibility-mode span {
    background-position: 0 0;
    height: 22px;
    margin: 5px 0px;
}

#accessibility-widget ul li a#accessibility-mode.active {
}

#accessibility-widget ul li a#accessibility-mode span {
    background-position: -5px -22px;
}

#accessibility-widget ul li a#accessibility-mode.active span {
    background-position: 0px 0px;
}

#accessibility-widget ul li a#accessibility-contrast span {
    background-position: 0px -44px;
}
#accessibility-widget ul li a#accessibility-grayscale {
    border-bottom-left-radius: 5px;
}
#accessibility-widget ul li a#accessibility-grayscale span {
    background-position: 0px -69px !important;
}
#accessibility-widget ul li a#accessibility-statement span {
    background-position: 0px -94px !important;
}
body.contrast #accessibility-widget ul li a#accessibility-mode span {
    background: -24px -22px url(images/accessibility-sprites.png) no-repeat !important;
}
body.contrast #accessibility-widget ul li a#accessibility-mode.active span {
    background: -24px -0px url(images/accessibility-sprites.png) no-repeat !important;
}
body.contrast #accessibility-widget ul li a#accessibility-contrast span {
    background: -24px -44px url(images/accessibility-sprites.png) no-repeat !important;
}
body.contrast #accessibility-widget ul li a#accessibility-grayscale span {
    background: -24px -69px url(images/accessibility-sprites.png) no-repeat !important;
}
body.contrast #accessibility-widget ul li a#accessibility-statement span {
    background: -24px -94px url(images/accessibility-sprites.png) no-repeat !important;
}
#accessibility-widget ul li a:hover {
    background-color: #fff;
}
#accessibility-statement-content {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 20px;
    margin: 10% 10% 0;
    width: 80%;
    z-index: 102;
    display: none;
    position: absolute;
}
#accessibility-statement-content .statement-textarea {
    min-height: 458px;
    font-family:'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.4em;
    width: 100%;
}
#accessibility-statement-content.statement-active {
    display: block;
}
#darklight {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    cursor: hand;
    z-index: 101;
}


/*footer*/
/* #footer {background: #e9e9e9; padding: 1.25rem 0; border-top: 1px solid #f2f2f2;} */
#footer {background: #e9e9e9; padding: 1.25rem 0;}
#footer img.republic-seal {}
#footer h4, #footer p, #footer li, #footer a {color: #999;}
#footer h4 {font-size: 60%;}
#footer p, #footer li {font-size: 70%;}
/* #footer ul, ol {padding: 0; margin: 0; } */
/* #footer li {list-style: none; display: block;} */
#footer li {list-style: block;}

.top-bar{ background: #f7f7f7; line-height: 58px; height: 58px; }
.top-bar .name h1 a{ color: #000; background: #f7f7f7; line-height: 58px; height: 58px; font-size: 19px; }
.top-bar-section li.active a, .top-bar-section li.active:not(.has-form) a:not(.button):hover{ background: #ededed; color: #000; border-bottom: solid 1px #ebebeb; }
.top-bar .toggle-topbar.menu-icon a{ color: #000; }
.top-bar .toggle-topbar.menu-icon a::after{ color: #000; box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000; }
.top-bar .name { height: 58px; }
/* joomla styling starts here */
/* top bar active color */
.top-bar-section ul,
.top-bar-section li a,
.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section .dropdown li:not(.has-form) a:not(.button){ background: #f7f7f7; color: #000; line-height: 58px; }

.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section .dropdown li:not(.has-form):hover > a:not(.button){ background: #EDEDED; color: #000; }
.top-bar-section > ul > [role="separator"]{ height: 58px; }
.top-bar.expanded .top-bar-section > ul > .divider{ display: none; }
.top-bar-section > ul > .divider,
.top-bar-section > ul > [role="separator"],
.top-bar-section ul li{ border-right: solid 1px #ebebeb; height: 58px; }
.top-bar-section .has-dropdown > a:after{ border-color: transparent transparent transparent rgba(0, 0, 0, 0.4); }

.top-bar.expanded ul li{ border: 0; }
.top-bar.expanded .top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar.expanded .top-bar-section li:not(.has-form) a:not(.button){ line-height: 40px; }

.top-bar.expanded .title-area{ background: #f7f7f7; }
  
/* search box */
input[type="text"] {height: 1.875rem;}
.top-bar input{ height: 40px; }

/* auxiliary menu */
#auxiliary {background: #f7f7f7;}

/* TODO: must add a auxillary menu dropdown menu */
/** aux-nav-btn **/
.aux-nav-btn-container{ height: 58px; background: #f7f7f7; overflow: auto; }
#aux-nav-btn{ float: right; margin: 0; background: #f7f7f7; color: #000; height: 34px; line-height: 33px; padding: 0; padding-right: 25px; margin-top: 10px; margin-right: 18px; margin-bottom: 14px; font-weight: bold; text-transform: uppercase; font-size: 13px; }
#aux-nav-btn::after{ content: ""; position: absolute; right: 0; display: block; width: 16px; top: 0; height: 0; color: #000; box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000; }
#aux-nav li a:hover{ background: #ededed; }
#aux-nav ul li.has-dropdown{ }
#aux-nav ul li.has-dropdown:hover{ }
#aux-nav.show-for-medium-up.open{ display: block !important;z-index: 1; }
#aux-nav.open li.divider{ border: 0; }

#panel-top,
#panel-bottom{ padding: 1.25rem 0; }

/* breadcrumbs span */
.breadcrumbs {margin-top: 10px; background: #fcfcfc; border-color: #f2f2f2;}
.breadcrumbs span.current {color: #333;}
.breadcrumbs > :nth-child(2)::before{content:"";}

/* time */
.time {background: #333; border-color: #222; }
.time .pst {font-size: 13px;}

/* article info and pagination */
.print-icon, .email-icon, .edit-icon {font-size: 0.75rem; float: left; text-transform: uppercase;}
.print-icon, .email-icon {margin-right: 40px;}
.print-icon {list-style-image: url(images/system/printButton.png);}
.email-icon {list-style-image: url(images/system/emailButton.png);}
.edit-icon {list-style-image: url(images/system/editButton.png);}
.article-info, .tags, .post-box p {clear: left;}
.article-info-term {display: none;}
dd {display: inline-block; padding-right: 12px; font-size: 0.75rem; color: #999; }
.createdby, .category-name, .published, .create, .modified, .hits {margin: 0;}
.tags .label {background: #FCFCFC; border: 1px solid #F2F2F2; color: #258FAF; padding: 10px;}
.tags {padding: 10px 0 20px;}
.readmore {font-size: 0.875rem; font-weight: bold;}
p.counter {display: none;}
.pagination {float: none; text-align: center; text-transform: uppercase;}
.pagination ul {display: inherit; text-align: center;}
.pagination ul li {display: inline; margin: 0 5px;}
.pagination a, .pagination span {float: none; display: inline-block; font-size: 0.75rem; font-weight: bold;}
ul.pager li, ul.pagenav li {display: inline; margin: 0 5px;}
ul.pager, ul.pagenav {float: none; text-align: center; text-transform: uppercase; font-size: 0.75rem; font-weight: bold;}

/* newsflash */
h4.newsflash-title {border-top: 1px solid #DDD; padding-top: 5px;}

/* login form, edit */
#login-form {border: 1px solid #D8D8D8; padding: 15px; background: #F2F2F2;}
#login-form li {font-size: .875rem;}
#login-form .btn {padding: .75rem 1.5rem .75rem;}
#jform_publish_up_img, #jform_publish_down_img {display: none;}
#editor-xtd-buttons {padding: 10px 0; float: left;}
#editor-xtd-buttons a {font-weight: bold; margin-right: 15px;}
.toggle-editor .btn-group {font-weight: bold; float: right; padding: 10px 0;}

/* modules */
.wrapper {border: 1px solid #D8D8D8;}
.dateReadon .button {padding: 0 10px 0 0; font-size: .75rem; background-color: #FFF; color: #999; margin-bottom: -15px;}
.latestnews .lnTitle {margin-bottom: -5px;}
.latestnews li {list-style: none; margin: 10px 0 0 -15px; border-top: 1px solid #D8D8D8; padding-top: 10px;}

/* banner */
#banner .bg-banner {border: none; background: none;}
#banner .fullwidth {width: 100%; height: 100%;}

/* content */
.button {text-align: left;}
.entry-title {padding: 10px;}
.page-header h2 {text-transform: none; font-size: 2rem;}
.padding {padding: 0 20px;}
.result-created {font-size: 0.75rem; color: #999;}
.result-title {padding: 10px 0;}
.divider .separator {display: none;}
p.img_caption {font-size: 0.75rem;}

#content{}
#content .pull-left{ float: left; }
#content .pull-right{ float: right; }

#back-to-top { position: fixed; bottom: 2em; right: 0px; text-decoration: none; color: #ffffff; background-color: #111111; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-size: 12px; padding: 1em; display: none; }

/**
 *
 */
@media only screen and (max-width: 40em) {
	#aux-nav{  left: 0 !important;  width: 100% !important; position: static !important; height: auto;  overflow: auto;  border-bottom: 1px solid #D8D8D8; }
	#aux-nav section > ul{  width: 100%;  margin: 0; height: auto; }
	#aux-nav ul > li{  width: 100%;  display: block; }
	#aux-nav ul li > a{  width: 100%;  display: block;  line-height: 58px;  background: #f7f7f7;  color: #000;  font-size: 13px;  padding: 0 20px;  position: relative;  border-top: 1px solid #ebebeb; }
	#aux-nav ul li a:hover{  background: #EDEDED; }
	#aux-nav ul li.has-dropdown > a:after{  content: "";  display: block;  width: 0;  height: 0;  border: inset 5px;  border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;  border-top-style: solid;  margin-top: -2.5px;  top: 22.5px;
	margin-top: 1.5px;  right: 30px;  position: absolute; }
	#aux-nav ul li.has-dropdown ul{  margin-left: 15px; }
	#aux-nav ul li.has-dropdown ul > li{ }
	#aux-nav ul li.has-dropdown ul li > a{ }
	#banner{  display: none; }
}
@media only screen and (min-width: 40.063em) {
	.top-bar-section .has-dropdown > a:after{  border: inset 5px;  border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;  border-top-style: solid;  margin-top: 2.5px; }
	.top-bar li ul{ -webkit-box-shadow: 6px 10px 10px -6px rgba(0,0,0,0.5); -moz-box-shadow: 6px 10px 10px -6px rgba(0,0,0,0.5); box-shadow: 6px 10px 10px -6px rgba(0,0,0,0.5); }
	#aux-nav{  position: static !important;  width: auto !important;  top: auto !important;  left: auto !important;
	background: #f7f7f7;  color: #000;  line-height: 58px;  font-size: 13px; }
	#aux-nav .has-dropdown{ }
	#aux-nav ul.dropdown{  width: 100%; }
	#aux-nav ul.dropdown li{  border-bottom: solid 1px #ebebeb; }
	#aux-nav li.has-dropdown > a:after {  content: "";  display: block;  width: 0;  height: 0;  border: inset 5px;  border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;  border-top-style: solid;  margin-right: 15px;  margin-top: -2.5px;  position: absolute;  top: 50%;  right: 0; }
	#aux-nav li {  float: left; }
	#aux-nav li a{  background: #f7f7f7;  color: #000;  font-size: 13px;  line-height: 58px;  padding: 0 15px;  display: block;  white-space: nowrap; }
	#aux-nav ul li a:hover{  background: #EDEDED; }
	#aux-nav li.has-dropdown{  position: relative; }
	/** first level **/
	#aux-nav li ul{ -webkit-box-shadow: 6px 10px 10px -6px rgba(0,0,0,0.5); -moz-box-shadow: 6px 10px 10px -6px rgba(0,0,0,0.5); box-shadow: 6px 10px 10px -6px rgba(0,0,0,0.5); }
	#aux-nav li.has-dropdown > a{  padding-right: 35px !important; }
	#aux-nav li.has-dropdown .dropdown{  display: none;  position: absolute;  margin-left: 0;  z-index: 1;  width: auto; }
	#aux-nav li.has-dropdown > .dropdown > li{  position: relative;  width: 100%;   }
	#aux-nav li.has-dropdown > .dropdown > li.has-dropdown > a:after{  border: none;  content: "\00bb";  top: 1rem;  margin-top: 4px;  right: 5px;  line-height: 1.2; }
	#aux-nav li.has-dropdown > .dropdown > li > .dropdown{  position: absolute;  top: 0;  left: 100%; }
	#aux-nav li.has-dropdown:hover > .dropdown{  display: block;}
}
